
h1{
    font-size: 100px;
    color: #ffffff;
    text-align: center;
    padding-left: 30px;
}
h2{
    color: #51718c;
    margin-top: 15px;
}

h3{
    color: white;
    font-size: 15px;
    opacity: 80%;
    text-shadow: #F2E8DF 1px 0 10px;
}
img{
    width: 100px;
    margin-top: 10px;
}
.card-fill{
    background: linear-gradient(#bad9d7, #51718c);
}
.search-icon{
    color: #51718c;
}
.search-btn{
    background: #ffffff;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 4px;
}
.search-bar{
    border: 1px solid #ffffff;
}
.next-days{
    color: white;
    margin-top: 50px;
}
.sunny{
    color: #fffc5b;
    text-shadow: #F2E8DF 1px 1px 10px;;
}
.current{
    background: #ffffff;
    border-color: #ffffff;
    font-weight: bold;
    color: #51718c;
}
.container{
    max-width: 500px;
}
.degree{
    margin-top: 5px;
}
.center-it{
    text-align: center;
}
.system-button{
    border-color: white;
    color: white;
    font-size: 14px;
}
.search-form{
    padding-top: 6px;
}
.degC, .degF{
    color: #ffffff;
    border-color: #ffffff;

}
.degF:hover,.degC:hover{
    background-color: #ffffff;
    border-color: #ffffff;
}
.footer{
    text-align: center;
    font-size: 12px;
}
.hum{
    margin-top: 20px;
}
.fc{
    text-align: right;
    margin-top: 15px;
}
